In [47]:
import sqlite3
import pandas as pd

In [48]:
#connect to DB
conn = sqlite3.connect('sqlite_example.db')
cursor = conn.cursor()
print("Opened database successfully");

Opened database successfully

In [49]:
#load CSVs
careplans = pd.read_csv('Daten/careplans.csv', sep=",")
conditions = pd.read_csv('Daten/conditions.csv', sep=",")
disease = pd.read_csv('Daten/disease.csv', sep=",")
immunizations = pd.read_csv('Daten/immunizations.csv', sep=",")
medications = pd.read_csv('Daten/medications.csv', sep=",")
observations = pd.read_csv('Daten/observations.csv', sep=",")
patients = pd.read_csv('Daten/patients.csv', sep=",")

In [50]:
#Delete Tables in case they exist
cursor.execute("DROP TABLE IF EXISTS careplans")
cursor.execute("DROP TABLE IF EXISTS conditions")
cursor.execute("DROP TABLE IF EXISTS disease")
cursor.execute("DROP TABLE IF EXISTS immunizations")
cursor.execute("DROP TABLE IF EXISTS medications")
cursor.execute("DROP TABLE IF EXISTS observations")
cursor.execute("DROP TABLE IF EXISTS patients")
cursor.execute("DROP TABLE IF EXISTS facts_table")

In [51]:
#Create Tables
cursor.execute('''CREATE TABLE IF NOT EXISTS careplans (
                           Id STRING PRIMARY KEY,
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 
                       )
                       ''')


cursor.execute('''CREATE TABLE IF NOT EXISTS conditions (
                           condition_code INTEGER PRIMARY KEY AUTOINCREMENT,
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 
                        )
                       ''')


# cursor.execute('''CREATE TABLE IF NOT EXISTS disease (
#                            disease_code INTEGER PRIMARY KEY AUTOINCREMENT,
#                            START DATE,
#                            STOP DATE,
#                            PATIENT STRING,
#                            ENCOUNTER STRING,
#                            CODE STRING,
#                            DESCRIPTION STRING,
#                            FOREIGN KEY (PATIENT)
#                               REFERENCES patients (Id) 
#                            FOREIGN KEY (Encounter)
#                               REFERENCES encounters (Id)
#                        )
#                        ''')


cursor.execute('''CREATE TABLE IF NOT EXISTS observations (
                           observation_code INTEGER PRIMARY KEY AUTOINCREMENT,
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           VALUE STRING,
                           UNITS STRING,
                           TYPE STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 

                       )
                       ''')



cursor.execute('''CREATE TABLE IF NOT EXISTS patients (
                           Id STRING PRIMARY KEY,
                           BIRTHDATE DATE,
                           DEATHDATE DATE,
                           SSN STRING,
                           DRIVERS STRING,
                           PASSPORT STRING,
                           PREFIX STRING,
                           FIRST STRING,
                           LAST STRING,
                           SUFFIX STRING,
                           MAIDEN STRING,
                           MARITAL STRING,
                           RACE STRING,
                           ETHNICITY STRING,
                           GENDER STRING,
                           BIRTHPLACE STRING,
                           ADDRESS STRING,
                           CITY STRING,
                           STATE STRING,
                           COUNTY STRING,
                           ZIP STRING,
                           LAT INTEGER,
                           LON INTEGER,
                           HEALTHCARE_EXPENSES INTEGER,
                           HEALTHCARE_COVERAGE INTEGER
                       )
                       ''')

cursor.execute('''CREATE TABLE IF NOT EXISTS immunizations(
                           immunization_code INTEGER PRIMARY KEY AUTOINCREMENT,
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST INTEGER,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 

                       )
                       ''')

In [52]:
print(pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn))

              name
0  sqlite_sequence
1        careplans
2       conditions
3     observations
4         patients
5    immunizations

In [53]:
print(pd.read_sql_query("PRAGMA table_info('careplans')", conn))

   cid               name    type  notnull dflt_value  pk
0    0                 Id  STRING        0       None   1
1    1              START    DATE        0       None   0
2    2               STOP    DATE        0       None   0
3    3            PATIENT  STRING        0       None   0
4    4          ENCOUNTER  STRING        0       None   0
5    5               CODE  STRING        0       None   0
6    6        DESCRIPTION  STRING        0       None   0
7    7         REASONCODE  STRING        0       None   0
8    8  REASONDESCRIPTION  STRING        0       None   0

In [54]:
#Insert into table
careplans.to_sql('careplans', conn, if_exists='append', index=False)
conditions.to_sql('conditions', conn, if_exists='append', index=False)
#disease.to_sql('disease', conn, if_exists='append', index=False)
immunizations.to_sql('immunizations', conn, if_exists='append', index=False)
medications.to_sql('medications', conn, if_exists='append', index=False)
observations.to_sql('observations', conn, if_exists='append', index=False)
patients.to_sql('patients', conn, if_exists='append', index=False)

1050

In [55]:
print(pd.read_sql_query("SELECT * FROM careplans", conn))

                                        Id       START        STOP  \
0     bbd91bf4-ca41-8fcf-fe03-562677e1cd09  2020-03-16  2020-03-16
1     8fbb54fb-fdcd-6c3c-c38b-993c36a0271d  2020-03-16  2020-04-03
2     3258da38-50e6-b40e-889c-dc95d2323c2f  2020-02-17  2020-03-02
3     ebc94d26-a633-69e8-da33-a42b8e03fbbe  2020-02-24  2020-02-24
4     1f282245-ffef-b0c6-1002-fdef343e45d8  2020-02-24  2020-03-11
...                                    ...         ...         ...
1638  b1d4bc75-5201-f101-4dab-9bc89dab80b8  2020-03-06  2020-03-07
1639  b52bc20e-da2a-85b6-599e-15263ae8a85d  2020-03-07  2020-04-08
1640  8a1226b8-0441-2d08-58f9-a4789c63a2fd  2020-03-10  2020-03-10
1641  20fc258b-f765-47f2-fa93-077bc038ec20  2020-03-10  2020-04-07
1642  47fbbc28-64f5-5712-81e7-0597da8cf8ba  2020-03-17  2020-03-17

                                   PATIENT  \
0     52a250a9-24e4-ec9b-91d6-c38cf1b10fc0
1     52a250a9-24e4-ec9b-91d6-c38cf1b10fc0
2     ad5525c0-fdab-94dc-018f-d7209c72bdef
3     7f30313f-98e9-2cc2-68a5-6f9973f9ad5a
4     7f30313f-98e9-2cc2-68a5-6f9973f9ad5a
...                                    ...
1638  edab2899-dac4-a19d-59e2-a9bea7b95cab
1639  edab2899-dac4-a19d-59e2-a9bea7b95cab
1640  4c523ab1-3255-911a-7eef-3bc3e48b7b05
1641  4c523ab1-3255-911a-7eef-3bc3e48b7b05
1642  8d49cb05-b1c3-b8fe-dc75-e43ad861f074

                                 ENCOUNTER       CODE  \
0     e6242b21-5765-8fb9-d596-07dc2b93bd0d  736376001
1     e6242b21-5765-8fb9-d596-07dc2b93bd0d  736376001
2     1d453a83-17f7-490d-5576-09f5725cdcaa  736376001
3     ccb50c60-5c51-3d03-3aeb-824325cfac91  736376001
4     ccb50c60-5c51-3d03-3aeb-824325cfac91  736376001
...                                    ...        ...
1638  9380e944-41bd-53bf-a0c4-27cc7c08291b  736376001
1639  9380e944-41bd-53bf-a0c4-27cc7c08291b  736376001
1640  e1281c05-e0e4-6389-abb6-b672b6b38784  736376001
1641  e1281c05-e0e4-6389-abb6-b672b6b38784  736376001
1642  cd60d8e9-fac4-53d1-4241-cd277a2f03c3  736376001

                                         DESCRIPTION  REASONCODE  \
0     Infectious disease care plan (record artifact)   840544004
1     Infectious disease care plan (record artifact)   840539006
2     Infectious disease care plan (record artifact)   840544004
3     Infectious disease care plan (record artifact)   840544004
4     Infectious disease care plan (record artifact)   840539006
...                                              ...         ...
1638  Infectious disease care plan (record artifact)   840544004
1639  Infectious disease care plan (record artifact)   840539006
1640  Infectious disease care plan (record artifact)   840544004
1641  Infectious disease care plan (record artifact)   840539006
1642  Infectious disease care plan (record artifact)   840544004

       REASONDESCRIPTION
0     Suspected COVID-19
1               COVID-19
2     Suspected COVID-19
3     Suspected COVID-19
4               COVID-19
...                  ...
1638  Suspected COVID-19
1639            COVID-19
1640  Suspected COVID-19
1641            COVID-19
1642  Suspected COVID-19

[1643 rows x 9 columns]

In [56]:
print(pd.read_sql_query("SELECT * FROM conditions", conn))

      condition_code       START        STOP  \
0                  1  2020-02-17  2020-02-27
1                  2  2020-02-24  2020-03-11
2                  3  2020-02-17  2020-02-27
3                  4  2020-02-17  2020-02-27
4                  5  2020-02-17  2020-02-17
...              ...         ...         ...
6370            6371  2020-03-25        None
6371            6372  2020-03-25        None
6372            6373  2020-03-25        None
6373            6374  1991-09-20        None
6374            6375  2016-11-18        None

                                   PATIENT  \
0     ad5525c0-fdab-94dc-018f-d7209c72bdef
1     7f30313f-98e9-2cc2-68a5-6f9973f9ad5a
2     ad5525c0-fdab-94dc-018f-d7209c72bdef
3     ad5525c0-fdab-94dc-018f-d7209c72bdef
4     ad5525c0-fdab-94dc-018f-d7209c72bdef
...                                    ...
6370  8d49cb05-b1c3-b8fe-dc75-e43ad861f074
6371  8d49cb05-b1c3-b8fe-dc75-e43ad861f074
6372  8d49cb05-b1c3-b8fe-dc75-e43ad861f074
6373  fce5ed5c-e218-4839-a0c5-6ef906e5ae73
6374  fce5ed5c-e218-4839-a0c5-6ef906e5ae73

                                 ENCOUNTER       CODE  \
0     1d453a83-17f7-490d-5576-09f5725cdcaa   49727002
1     ccb50c60-5c51-3d03-3aeb-824325cfac91   49727002
2     1d453a83-17f7-490d-5576-09f5725cdcaa  386661006
3     1d453a83-17f7-490d-5576-09f5725cdcaa   36955009
4     1d453a83-17f7-490d-5576-09f5725cdcaa  840544004
...                                    ...        ...
6370  d9a1e5b3-0023-3f46-c694-7c91871b3c3d   86175003
6371  d9a1e5b3-0023-3f46-c694-7c91871b3c3d   84114007
6372  d9a1e5b3-0023-3f46-c694-7c91871b3c3d   67782005
6373  7afafba9-d516-51e7-78e4-51b99534bf1c  230690007
6374  9697db80-f51c-e97e-dbbe-9bb3ddc97c9a   49436004

                                         DESCRIPTION
0                                    Cough (finding)
1                                    Cough (finding)
2                                    Fever (finding)
3                            Loss of taste (finding)
4                                 Suspected COVID-19
...                                              ...
6370                      Injury of heart (disorder)
6371                        Heart failure (disorder)
6372  Acute respiratory distress syndrome (disorder)
6373                                          Stroke
6374                             Atrial Fibrillation

[6375 rows x 7 columns]

### Datenverarbeitungs Schema (Sternschema)

Der Grund für die Verwendung eines Sternschemas liegt darin, die Anzahl der Join-Bedingungnen für die Auswertung der einzelnen Tabellen zu reduzieren. bei dem Sternschema wird eine Zentrale Datenbank erzeugt, welche die relevanten Daten enthält. Um den Kern des Sternschemas werden weitere Dimensions Tabellen angeordnet. Wichtig dabei kann es zu duplizierungen der Daten in kommen!

## Create Facts table

In [57]:
cursor.execute('''CREATE TABLE IF NOT EXISTS facts_table (
                          patient_ID STRING,
                          careplan_ID INT,
                          condition_id INT,
                          immunization_code INT,
                          VALUE STRING,
                          START_DATE DATE,
                          STOP_DATE DATE,
                          observation_code INT, 
                          FOREIGN KEY (patient_ID)
                            REFERENCES patients (Id) 
                          FOREIGN KEY (careplan_ID)
                            REFERENCES careplans (Id) 
                          FOREIGN KEY (condition_id)
                            REFERENCES conditions (condition_code)
                          FOREIGN KEY (immunization_code)
                            REFERENCES immunizations (immunization_code) 
                          FOREIGN KEY (observation_code)
                            REFERENCES observations (observation_code)                             

                       )
                       ''')

In [58]:
print(pd.read_sql_query("PRAGMA table_info('facts_table')", conn))

   cid               name    type  notnull dflt_value  pk
0    0         patient_ID  STRING        0       None   0
1    1        careplan_ID     INT        0       None   0
2    2       condition_id     INT        0       None   0
3    3  immunization_code     INT        0       None   0
4    4              VALUE  STRING        0       None   0
5    5         START_DATE    DATE        0       None   0
6    6          STOP_DATE    DATE        0       None   0
7    7   observation_code     INT        0       None   0

### Transfer Data to new Table

In [59]:
cursor.execute('''INSERT INTO facts_table        
                    (patient_ID, careplan_ID, VALUE, START_DATE, STOP_DATE) 
                    SELECT PATIENT, Id, CODE, START, STOP
                    FROM careplans
                    ;''')



cursor.execute('''INSERT INTO facts_table        
                    (patient_ID, observation_code, VALUE, START_DATE) 
                    SELECT PATIENT, CODE, VALUE, DATE 
                    FROM OBSERVATIONS
                    ;''')


cursor.execute('''INSERT INTO facts_table        
                    (patient_ID, condition_Id, VALUE, START_DATE, STOP_DATE) 
                    SELECT PATIENT, condition_code, CODE, START, STOP
                    FROM conditions
                    ;''')

cursor.execute('''INSERT INTO facts_table        
                    (patient_ID, immunization_code, VALUE, START_DATE) 
                    SELECT PATIENT, immunization_code, CODE, DATE
                    FROM immunizations
                    ;''')

In [60]:
print(pd.read_sql_query("SELECT * FROM facts_table", conn))

                                  patient_ID  \
0       52a250a9-24e4-ec9b-91d6-c38cf1b10fc0
1       52a250a9-24e4-ec9b-91d6-c38cf1b10fc0
2       ad5525c0-fdab-94dc-018f-d7209c72bdef
3       7f30313f-98e9-2cc2-68a5-6f9973f9ad5a
4       7f30313f-98e9-2cc2-68a5-6f9973f9ad5a
...                                      ...
141075  fce5ed5c-e218-4839-a0c5-6ef906e5ae73
141076  fce5ed5c-e218-4839-a0c5-6ef906e5ae73
141077  fce5ed5c-e218-4839-a0c5-6ef906e5ae73
141078  fce5ed5c-e218-4839-a0c5-6ef906e5ae73
141079  fce5ed5c-e218-4839-a0c5-6ef906e5ae73

                                 careplan_ID  condition_id  immunization_code  \
0       bbd91bf4-ca41-8fcf-fe03-562677e1cd09           NaN                NaN
1       8fbb54fb-fdcd-6c3c-c38b-993c36a0271d           NaN                NaN
2       3258da38-50e6-b40e-889c-dc95d2323c2f           NaN                NaN
3       ebc94d26-a633-69e8-da33-a42b8e03fbbe           NaN                NaN
4       1f282245-ffef-b0c6-1002-fdef343e45d8           NaN                NaN
...                                      ...           ...                ...
141075                                  None           NaN            13121.0
141076                                  None           NaN            13122.0
141077                                  None           NaN            13123.0
141078                                  None           NaN            13124.0
141079                                  None           NaN            13125.0

            VALUE            START_DATE   STOP_DATE observation_code
0       736376001            2020-03-16  2020-03-16             None
1       736376001            2020-03-16  2020-04-03             None
2       736376001            2020-02-17  2020-03-02             None
3       736376001            2020-02-24  2020-02-24             None
4       736376001            2020-02-24  2020-03-11             None
...           ...                   ...         ...              ...
141075        140  2015-11-13T06:00:19Z        None             None
141076        140  2016-11-18T06:00:19Z        None             None
141077        140  2017-11-24T06:00:19Z        None             None
141078        140  2018-11-30T06:00:19Z        None             None
141079        140  2019-12-06T06:00:19Z        None             None

[141080 rows x 8 columns]

In [61]:
print(pd.read_sql_query("SELECT * FROM facts_table WHERE immunization_code == 3", conn))

                             patient_ID careplan_ID condition_id  \
0  2f114e21-8b95-e9eb-2e9e-4b950b059cfa        None         None

   immunization_code  VALUE            START_DATE STOP_DATE observation_code
0                  3    140  2011-05-08T11:01:53Z      None             None

## Analyse

In [62]:
print(pd.read_sql_query("SELECT DISTINCT PATIENT FROM immunizations WHERE Code==140", conn))

                                   PATIENT
0     7f30313f-98e9-2cc2-68a5-6f9973f9ad5a
1     2f114e21-8b95-e9eb-2e9e-4b950b059cfa
2     f7dddcba-380e-7fd4-20b0-da086ce5dc3a
3     ad5525c0-fdab-94dc-018f-d7209c72bdef
4     2812f4fc-6aba-0033-728b-7e569bb8adcc
...                                    ...
1045  edab2899-dac4-a19d-59e2-a9bea7b95cab
1046  d1065043-2a5f-2d0e-1dd0-cb7f31e6d340
1047  4c523ab1-3255-911a-7eef-3bc3e48b7b05
1048  8d49cb05-b1c3-b8fe-dc75-e43ad861f074
1049  fce5ed5c-e218-4839-a0c5-6ef906e5ae73

[1050 rows x 1 columns]

### Influenza Impfung wird mit Code 140 beschrieben

In [63]:
print(pd.read_sql_query("SELECT DISTINCT patient_ID, VALUE FROM facts_table WHERE immunization_code is NOT NULL AND VALUE==140", conn))

                                patient_ID  VALUE
0     7f30313f-98e9-2cc2-68a5-6f9973f9ad5a    140
1     2f114e21-8b95-e9eb-2e9e-4b950b059cfa    140
2     f7dddcba-380e-7fd4-20b0-da086ce5dc3a    140
3     ad5525c0-fdab-94dc-018f-d7209c72bdef    140
4     2812f4fc-6aba-0033-728b-7e569bb8adcc    140
...                                    ...    ...
1045  edab2899-dac4-a19d-59e2-a9bea7b95cab    140
1046  d1065043-2a5f-2d0e-1dd0-cb7f31e6d340    140
1047  4c523ab1-3255-911a-7eef-3bc3e48b7b05    140
1048  8d49cb05-b1c3-b8fe-dc75-e43ad861f074    140
1049  fce5ed5c-e218-4839-a0c5-6ef906e5ae73    140

[1050 rows x 2 columns]

In [64]:
print(pd.read_sql_query("SELECT DISTINCT patient_ID, VALUE FROM facts_table WHERE observation_code is NOT NULL AND VALUE=='COVID-19'", conn))

                              patient_ID     VALUE
0   20604c29-ee90-6073-13f4-df3678392fc7  COVID-19
1   bec7fd7c-d645-1450-f851-e21e07c2a442  COVID-19
2   6a59c578-ebb4-e0bb-0b82-d5c57d5e9f2a  COVID-19
3   d4ec20ef-1ed3-9d97-36c5-1216c4037f05  COVID-19
4   adcc96d4-285a-e833-f968-13a940c78098  COVID-19
5   cbcf9807-abfa-0ae8-7f3d-ac05fb0e61f5  COVID-19
6   92df158a-bcb4-01af-1529-adf33db69253  COVID-19
7   b228751b-8384-9070-a49c-faa67070f494  COVID-19
8   63576001-7584-d85a-e056-475fe720a291  COVID-19
9   69ba11d9-8061-f328-0733-ab332742c586  COVID-19
10  68a2bbc6-3f56-081e-3fd5-cbd13248ed31  COVID-19
11  b56193a1-5bfb-bb37-0886-9a02d10edd41  COVID-19
12  cc43826f-49e1-1144-76d4-464f992c9dd0  COVID-19
13  8a84c9b4-0ee2-8cd0-a78b-ed8e8d654467  COVID-19
14  de5013bd-4eb1-8e08-e863-c0ee3a03d6ca  COVID-19
15  15905260-4510-3a9a-53b3-88a440c2128d  COVID-19
16  26d353df-e9af-35b0-b694-af604d610bd9  COVID-19
17  212b3d3b-eb3c-cb51-b0fe-08554b71ac2a  COVID-19
18  12f8384e-d49a-1343-2e3a-dc547629d770  COVID-19
19  ac1c63de-5c72-a482-4d1a-3cea500dba3f  COVID-19
20  3845c8f4-39c6-eeec-75e6-2780169f0aa3  COVID-19
21  27d46fed-1591-5a1f-b92c-667e495e6b1c  COVID-19
22  6008a677-9edd-5ffc-699f-c32a109ffabd  COVID-19
23  8d49cb05-b1c3-b8fe-dc75-e43ad861f074  COVID-19

In [65]:
print(pd.read_sql_query("SELECT DISTINCT patient_ID, VALUE FROM facts_table WHERE condition_Id is NOT NULL AND (VALUE==840539006 OR VALUE==840544004)", conn))

                                patient_ID      VALUE
0     ad5525c0-fdab-94dc-018f-d7209c72bdef  840544004
1     ad5525c0-fdab-94dc-018f-d7209c72bdef  840539006
2     7f30313f-98e9-2cc2-68a5-6f9973f9ad5a  840544004
3     7f30313f-98e9-2cc2-68a5-6f9973f9ad5a  840539006
4     2812f4fc-6aba-0033-728b-7e569bb8adcc  840544004
...                                    ...        ...
1765  edab2899-dac4-a19d-59e2-a9bea7b95cab  840539006
1766  4c523ab1-3255-911a-7eef-3bc3e48b7b05  840544004
1767  4c523ab1-3255-911a-7eef-3bc3e48b7b05  840539006
1768  8d49cb05-b1c3-b8fe-dc75-e43ad861f074  840544004
1769  8d49cb05-b1c3-b8fe-dc75-e43ad861f074  840539006

[1770 rows x 2 columns]

In [66]:
print(pd.read_sql_query("SELECT DISTINCT patient_ID, facts_table.VALUE, conditions.DESCRIPTION FROM facts_table LEFT JOIN conditions ON facts_table.patient_ID = conditions.PATIENT LEFT JOIN immunizations ON facts_table.patient_ID = immunizations.PATIENT LEFT JOIN observations ON facts_table.patient_ID = observations.PATIENT WHERE facts_table.condition_Id is NOT NULL AND (facts_table.VALUE==840539006 OR facts_table.VALUE==840544004) AND observations.VALUE=='COVID-19' AND immunizations.CODE==140", conn))

                               patient_ID      VALUE  \
0    20604c29-ee90-6073-13f4-df3678392fc7  840544004
1    20604c29-ee90-6073-13f4-df3678392fc7  840544004
2    20604c29-ee90-6073-13f4-df3678392fc7  840544004
3    20604c29-ee90-6073-13f4-df3678392fc7  840544004
4    20604c29-ee90-6073-13f4-df3678392fc7  840544004
..                                    ...        ...
789  8d49cb05-b1c3-b8fe-dc75-e43ad861f074  840539006
790  8d49cb05-b1c3-b8fe-dc75-e43ad861f074  840539006
791  8d49cb05-b1c3-b8fe-dc75-e43ad861f074  840539006
792  8d49cb05-b1c3-b8fe-dc75-e43ad861f074  840539006
793  8d49cb05-b1c3-b8fe-dc75-e43ad861f074  840539006

                                        DESCRIPTION
0               Acute pulmonary embolism (disorder)
1    Acute respiratory distress syndrome (disorder)
2              Acute respiratory failure (disorder)
3           Bacterial infectious disease (disorder)
4                                          COVID-19
..                                              ...
789                  Respiratory distress (finding)
790               Sepsis caused by virus (disorder)
791                         Septic shock (disorder)
792                        Sputum finding (finding)
793                              Suspected COVID-19

[794 rows x 3 columns]

In [67]:
df_nur_influenza_geimpfte = pd.read_sql_query("SELECT DISTINCT patient_ID, facts_table.VALUE, conditions.DESCRIPTION AS Condition_Description, immunizations.CODE, observations.DESCRIPTION AS Observation_Description FROM facts_table LEFT JOIN conditions ON facts_table.patient_ID = conditions.PATIENT LEFT JOIN immunizations ON facts_table.patient_ID = immunizations.PATIENT LEFT JOIN observations ON facts_table.patient_ID = observations.PATIENT WHERE facts_table.condition_Id is NOT NULL AND (facts_table.VALUE==840539006 OR facts_table.VALUE==840544004) AND immunizations.CODE==140", conn)

In [68]:
df_nur_influenza_geimpfte

,patient_ID,VALUE,Condition_Description,CODE,Observation_Description
0,7f30313f-98e9-2cc2-68a5-6f9973f9ad5a,840544004,COVID-19,140,Body Weight
1,7f30313f-98e9-2cc2-68a5-6f9973f9ad5a,840544004,COVID-19,140,Body temperature
2,7f30313f-98e9-2cc2-68a5-6f9973f9ad5a,840544004,COVID-19,140,DALY
3,7f30313f-98e9-2cc2-68a5-6f9973f9ad5a,840544004,COVID-19,140,Diastolic Blood Pressure
4,7f30313f-98e9-2cc2-68a5-6f9973f9ad5a,840544004,COVID-19,140,Heart rate
...,...,...,...,...,...
325412,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,Sodium [Moles/volume] in Serum or Plasma
325413,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,Systolic Blood Pressure
325414,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,Troponin I.cardiac [Mass/volume] in Serum or P...
325415,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,Urea nitrogen [Mass/volume] in Serum or Plasma
325416,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,pH of Arterial blood

### Wie viele gestorbene waren gegen Influenza geimpft?

In [74]:
df_alle = pd.read_sql_query("SELECT patient_ID, facts_table.VALUE, conditions.DESCRIPTION AS Condition_Description, immunizations.CODE, observations.DESCRIPTION AS Observation_Description FROM facts_table LEFT JOIN conditions ON facts_table.patient_ID = conditions.PATIENT LEFT JOIN immunizations ON facts_table.patient_ID = immunizations.PATIENT LEFT JOIN observations ON facts_table.patient_ID = observations.PATIENT WHERE facts_table.condition_Id is NOT NULL AND (facts_table.VALUE==840539006 OR facts_table.VALUE==840544004) AND observations.VALUE=='COVID-19'", conn)

In [75]:
df_alle

,patient_ID,VALUE,Condition_Description,CODE,Observation_Description
0,20604c29-ee90-6073-13f4-df3678392fc7,840544004,Acute pulmonary embolism (disorder),62,Cause of Death [US Standard Certificate of Death]
1,20604c29-ee90-6073-13f4-df3678392fc7,840544004,Acute pulmonary embolism (disorder),62,Cause of Death [US Standard Certificate of Death]
2,20604c29-ee90-6073-13f4-df3678392fc7,840544004,Acute pulmonary embolism (disorder),114,Cause of Death [US Standard Certificate of Death]
3,20604c29-ee90-6073-13f4-df3678392fc7,840544004,Acute pulmonary embolism (disorder),140,Cause of Death [US Standard Certificate of Death]
4,20604c29-ee90-6073-13f4-df3678392fc7,840544004,Acute pulmonary embolism (disorder),140,Cause of Death [US Standard Certificate of Death]
...,...,...,...,...,...
8413,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,Cause of Death [US Standard Certificate of Death]
8414,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,Cause of Death [US Standard Certificate of Death]
8415,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,Cause of Death [US Standard Certificate of Death]
8416,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,Cause of Death [US Standard Certificate of Death]
8417,8d49cb05-b1c3-b8fe-dc75-e43ad861f074,840539006,Suspected COVID-19,140,Cause of Death [US Standard Certificate of Death]

In [76]:
len(df_alle[df_alle.CODE == 140])

6774

In [80]:
i = 0
for patient in df_alle.index:
    df_alle[patient].patient_ID

print(i)

8418

In [71]:
#conn.close()